@charset "utf-8";

@media screen and (max-width: 400px)  {
    .event{
        width: 100vw;
        height: auto;
    }
    .event img {
        width: 100%
    }
    .movie-poster{
        width: 100vw;
        height: auto;
    }
    .movie-poster img {
        width: 200px;
    }

    #footer{
        margin-bottom: 30px;
    }
}