@charset "UTF-8";
/*아이디 선택자(#): 문서 내에세 단 한번만 사용
클래서 선택자 (.): 문서 내에서 여러번 반복/재사용
*/

*{
    margin:0;
    padding: 0;
}


.logo{
    width: 100px;
    height: 110px;
    display:block;
}

.mx-10{
    margin-left: 10px;
    margin-right: 10px;
}

.mx-5{
    margin-left: 5px;
    margin-right: 5px;
}


.mx-auto{
    margin: 0 auto;
  
}

.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.my-30{
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-100{
    margin-top: 50px;
    margin-bottom: 50px;
}


.event{

    width: 800px;
    height: 500px;
}


.text-center{
    text-align: center
}

.text-upper{
    text-transform: uppercase;
}
.text-movie{
    font-size: 16px;
    color:#555555;
}



.nav{
    height: 60px;
    line-height: 60px;
}

.bg-nav{
    background-color: #005891;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #fcff00;
    text-decoration: none;
}


.moive-title{
    font-size: 22px;


}

.movie-text{
    font-size: 16px;
    color: #555555;
}

.movie-poster{
width: 600px;
height: 300px;
font-size:0
}

.bg-sns{
    background-color: #f3f3f3;
}

.sns{
    font-size: 0;
}



.divider{
    border:0;
    height: 1px;
    background-color: #005891;
}

/*=============================footer=======================*/


.cs-number{
    font-size: 30px;
   font-weight: bold;
   color: #005891
}


.cs-number a {
    color:#005891   

}

.cs-title{
    font-size: 17px;
    color: #005891;
}



.adderss-ko{
    font-size: 13px;



}

.owner-en{
    font-size: 11px;
}

.brand{
    font-style: italic;
}
