@charset "UTF-8";
/*아이디 선택자(#): 문서 내에세 단 한번만 사용
클래서 선택자 (.): 문서 내에서 여러번 반복/재사용
*/



.logo{
    width: 100;
    height: 110;
    display:block;
}
.mx-auto{
    margin: 0 auto;
  
}

.my-50{
    margin-top: 50;
    margin-bottom: 50;
}

